<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><head>
<body bgcolor="#FFFFFF;"  style="color:#333333; width:650px; height:550px;">
<table width="600" class="foto_help">
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_gray.jpg" width="139" height="92"></td>
		<td>&mdash;</td>
		<td><strong>Оттенки серого</strong><br><br><strong>gray</strong>
		<br><br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="gray"></span></td>
	</tr>
	<tr height="1"><td colspan="3" style=" background-color:#f1f1f1"></td></tr>
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_reflection.jpg" width="139" height="125"></td>
		<td>&mdash;</td>
		<td><strong>Отражение</strong><br><br><strong>reflection#ВЫСОТА#ОТСТУП#ЦВЕТ ФОНА#ПРОЗРАЧНОСТЬ</strong>
			<br>ВЫСОТА - в px или %, наример: 40, '40', '40px' or '40%'
			<br>ЦВЕТ ФОНА - в hex - фон отражения
			<br>ПРОЗРАЧНОСТЬ - прозрачность отражения в px (0 .. 100)
                        <br><br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="reflection#33%#3#ffffff#60"></span>
		</td>
	</tr>
	<tr height="1"><td colspan="3" style=" background-color:#f1f1f1"></td></tr>
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_brightness.jpg" width="139" height="92"></td>
		<td>&mdash;</td>
		<td><strong>Яркость</strong><br><br><strong>brightness#УРОВЕНЬ</strong>
			<br>УРОВЕНЬ - число от -127 до 127
			<br><br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="brightness#20"></span>
		</td>
	</tr>
	<tr height="1"><td colspan="3" style=" background-color:#f1f1f1"></td></tr>
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_opacity.jpg" width="139" height="92"></td>
		<td>&mdash;</td>
		<td><strong>Прозрачность</strong><br><br><strong>opacity#ЦВЕТ ФОНА#50</strong>
			<br>ЦВЕТ ФОНА - в hex
			<br>ПРОЗРАЧНОСТЬ - прозрачность отражения в px (0 .. 100)
			<br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="opacity#ffffff#50"></span>
		</td>
	</tr>
	<tr height="1"><td colspan="3" style=" background-color:#f1f1f1"></td></tr>
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_watermark.jpg" width="139" height="92"></td>
		<td>&mdash;</td>
		<td><strong>Watermark</strong><br><br><strong>watermark#_Х#_Y#ВЫРАВНИВАНИЕ#/images/watermark.png</strong>
			<br>_Х, смещение в px от левого края, может быть отрицательным, если не заданно - не используется
			<br>_Y, смещение в px от верхнего края, может быть отрицательным, если не заданно - не используется
			<br>ВЫРАВНИВАНИЕ - указание расположения, комбинация из 'TBLR' (top, bottom, left, right), если не заданно - не используется
			<br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="watermark###BR#/images/watermark.png"></span>
		</td>
	</tr>
	<tr height="1"><td colspan="3" style=" background-color:#f1f1f1"></td></tr>
	<tr>
		<td><img src="/iadmin/component/foto/foto_effect_help_img/01_round_png.png" width="139" height="92"></td>
		<td>&mdash;</td>
		<td><strong>Round_png</strong><br><br><strong>round_png#RADIUS#RATE</strong>
			<br>RADIUS, радиус
			<br>RATE, Чем выше rate, тем лучше качество сглаживания и больше время обработки.
			<br><br><span style="font-size:14px">&larr;&nbsp;<input style="width: 410px; " value="round_png#13#3"></span>
		</td>
	</tr>


</table>
</body></html>