<script language="javascript" type="text/javascript">
    function submitbutton() {
        var form = document.adminFormUser;
        var r = new RegExp("[\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-]", "i");
        
        if (trim(form.name.value) == "") {
            alert( "Вы должны ввести имя." );
        } else if (form.username.value == "") {
            alert( "Вы должны ввести логин для входа на сайт." );
        } else if (r.exec(form.username.value) || form.username.value.length < 3) {
            alert( "Ваше имя для входа содержит неправильные символы или слишкрм короткое." );
        } else if (trim(form.email.value) == "") {
            alert( "Вы должны ввести адрес email." );
        } else if (trim(form.password.value) != "" && form.password.value != form.password2.value){
            alert( "Пароль неправильный." );
        } else {
            document.adminFormUser.submit();
        }
    }
    
    function gotocontact( id ) {
        var form = document.adminForm;
        form.contact_id.value = id;
        submitform('contact');
    }
</script>

<table class="adminheading" width="50%">
    <tr height="10">
        </td></td>
    </tr>
    <tr>
        <th style="padding-left:26px;" id="td14bold" nowrap="nowrap" class="user"><h1>Личные данные</h1></th>
        <th nowrap="nowrap" align="right"><a href="javascript: submitbutton(); ">Сохранить</a>&nbsp;&nbsp;&nbsp;
            <a href="<?php echo $reg['cab_seoname']; ?>">Отменить</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript: ins_ajax_logout(); void(0);">Выход</a>
        </th>
    </tr>
</table>
<hr style="margin-left:30px;" />
<table width="100%" border="0"  style="padding-left:20px;">
<tr>
    <td width="70%" valign="top">
        <table class="adminform" border="0" cellpadding="2">
        <tr>
            <td width="15%" style="padding-left:20px; vertical-align:top; padding-top:20px;" valign="top" nowrap="nowrap">Фото:</td>
            <td width="85%">
                <table width="100%" border="0" >
                    <tr>
                        <td valign="top"><?php echo $user['photo']; ?></td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td width="100%">
                            <form action="" method="post"  id="fotofo" name="newfotoForm" enctype="multipart/form-data">	
                                <table class="adminheading" width="100%">
                                    <tr>
                                        <td nowrap="nowrap" align="left" valign="top" style="text-align:left; vertical-align:top;">Загрузить</td>
                                        <td>&nbsp;</td>
                                        <td class="small" align="left" valign="top" style="vertical-align:top; ">(Название файла должно содержать только латинские символы или цифры. Допускаются форматы изображения jpg / gif )</td>
                                    </tr>
                                </table>
                                <table class="adminheading" border="0">
                                    <tr>
                                        <td><input type="file" name="newfoto" size="35" /></td>
                                        <td><input type="button" value="Закачать" onclick="document.getElementById('fotofo').submit();" /></td>
                                    </tr>
                                </table>
                                <input type="hidden" name="task" value="newfoto" />
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <form action="index.php" method="post" name="adminFormUser">
        <tr>
            <td style="padding-left:20px;">Логин:</td>
            <td><input type="text" name="username" class="inputbox" size="40" value="<?php echo $user['username']; ?>" maxlength="25" /></td>
        </tr>
        <tr>
            <td style="padding-left:20px;">ФИО:</td>
            <td>
                <table cellpadding="0" cellspacing="0" width="300" >
                    <tr>
                        <td width="30%"><input type="text" name="usersurname" class="inputbox" style="width:170px; " size="40" value="<?php echo $user['usersurname']; ?>" maxlength="50" /></td>
                        <td width="40%"><input type="text" name="name" class="inputbox" size="40" style="width:90px;" value="<?php echo $user['name']; ?>" maxlength="50" /></td>
                        <td width="40%"><input type="text" name="userparentname" class="inputbox" style="width:140px;" size="40" value="<?php echo $user['userparentname']; ?>" maxlength="50" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left:20px;">E-mail:</td>
            <td><input class="inputbox" type="text" name="email" size="40" value="<?php echo $user_info->email; ?>" /></td>
        </tr>
        <tr>
            <td style="padding-left:20px;">Новый пароль: 
                <div class="iii"><i>если хотите изменить</i></div></td>
            <td><input class="inputbox" type="password" name="password" size="40" value="" /></td>
        </tr>
        <tr>
            <td style="padding-left:20px;">Проверка пароля:</td>
            <td><input class="inputbox" type="password" name="password2" size="40" value="" /></td>
        </tr>
        <?php if($canEmailEvents) : ?>
            <tr>
                <td style="padding-left:20px;">Получать системные сообщения на e-mail</td>
                <td><?php echo $lists['sendEmail']; ?></td>
            </tr>
        <?php endif; ?>
                    
        <?php if(Api::$user->id): ?>
            <tr>
                <td style="padding-left:20px;">Дата регистрации</td>
                <td><?php echo $user_info->registerDate;?></td>
            </tr>
            <tr>
                <td style="padding-left:20px;">Дата последнего посещения</td>
                <td><?php echo $user_info->lastvisitDate;?></td>
            </tr>
            <tr>
                <td style="padding-left:20px;">Информация пользователя</td>
                <td><?php editorArea( 'editor1',  $user_info->uinfo , 'uinfo', '100%;', '200', '75', '20' ) ; ?></td>
            </tr>
        <?php endif; ?>
        </table>
    </td>
    <td width="30%" valign="top"></td>
</table>
<input type="hidden" name="pi" value="200" />
<input type="hidden" name="block" value="<?=$user_info->block; ?>" />
<input type="hidden" name="id" value="<?php echo $user_info->id; ?>" />
<input type="hidden" name="gid" value="<?php echo $user_info->gid; ?>" />
<input type="hidden" name="task" value="save" />
<?php if (!$canEmailEvents) : ?>
    <input type="hidden" name="sendEmail" value="0" />
<?php endif; ?>
</form>
<hr style="margin-left:30px;" />
<table class="adminheading" width="50%">
<tr>
    <th width="50%" nowrap="nowrap" align="left" style="text-align:left; padding-left:50;">Мои заказы</th>
    <th width="50%" nowrap="nowrap" align="left"><a href="/cab_orders/">Смотреть</a></th>
</tr>
</table>
<hr style="margin-left:30px;" />		
<table class="adminheading" width="50%">
<tr>
    <th width="50%" nowrap="nowrap" align="left" style="text-align:left; padding-left:50;">Новости</th>
    <th width="50%" nowrap="nowrap" align="left"><a href="index.php?c=cab_news">Редактировать</a></th>
</tr>
</table>
<hr style="margin-left:30px;" />
<table class="adminheading" width="50%">
<tr>
    <th width="50%" nowrap="nowrap" align="left" style="text-align:left; padding-left:50;">Фотогалерея</th>
    <th width="50%" nowrap="nowrap" align="left"><a href="index.php?c=cab_news&gal=1">Редактировать</a></th>
</tr>
</table>
<hr style="margin-left:30px;" />