
<tr>
 <td valign="bottom" height="250" align="left"
style="border-right:#000000 1px
solid;">&nbsp;<strong>Квитанция</strong><br />

 <br />&nbsp;Кассир</td>
 <td valign="top" style="border-right:#000000 1px solid; ">
 <li><strong>Получатель: </strong> <font style="font-size:80%;">
<u>Осауленко Артем Валерьевич</u> </font>&nbsp;&nbsp;&nbsp;<br />
 <li><strong>КПП:</strong><u>775001001</u>&nbsp;&nbsp;&nbsp;&nbsp;
<strong>ИНН:</strong><u>7728168971</u>&nbsp;&nbsp;&nbsp;&nbsp;
<strong>Код ОКАТО:</strong> <u>45286565000</u><br />

 <li><strong>номер счета получателя:</strong>&nbsp;&nbsp;<u>408 178 108
088 7000 4700</u>&nbsp;&nbsp;
 &nbsp; <br /><li><strong>в:</strong> <font style="font-size:90%"><u>ОАО
"Альфа-банк", Москва</u></font><br />
 <li><strong>БИК:</strong> <u>044525593</u><br />

 <li><strong>Кор.счёт:</strong> <u>30101810200000000593 в ОПЕРУ
Московского ГТУ Банка России</u>
 <li><strong>Платеж:</strong> <font style="font-size:90%"><u>Заказ №{orderID}</u></font><br />
 <li><strong>Плательщик:</strong>
<u>{exBTFIO}</u><br />
 <li><strong>Адрес плательщика:</strong> <font style="font-size:90%">
<u>{exBTAddress}</u></font><br />

 <li><strong>ИНН плательщика:</strong> <u>__________________</u>
 <li><strong>Сумма:</strong> <u>{orderSum}</u>
руб.<br />
 <br />
 Подпись:________________________ Дата:
<u>_______________________</u><br /><br />
 </td>

 </tr>

